<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Andras</title>
<meta name="keywords"
    content="Andras Egyed, junior web developer, javascript, css, html, react, react native, redux, rtk, typescript, portfolio, cv, resume, projects">
<meta name="description"
    content="Portfolio of Andras Egyed, a junior web developer skilled in HTML, CSS, JavaScript, React, React Native, Redux, RTK, Vue, Tailwind, and TypeScript. Explore projects, CV, and resume.">

<link rel="icon" href="public/images/favicon.ico">
<link rel="manifest" href="public/manifest.json">
<link rel="stylesheet" href="public/css/styles.min.css">
<link rel="stylesheet" href="public/css/skins/color-3.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preload" as="style"
    href="https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap">
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<link rel="stylesheet" href="public/css/skins/color-1.css" class="alternate-style" title="color-1" disabled>
<link rel="stylesheet" href="public/css/skins/color-2.css" class="alternate-style" title="color-2" disabled>
<link rel="stylesheet" href="public/css/skins/color-3.css" class="alternate-style" title="color-3" disabled>
<link rel="stylesheet" href="public/css/skins/color-4.css" class="alternate-style" title="color-4" disabled>
<link rel="stylesheet" href="public/css/skins/color-5.css" class="alternate-style" title="color-5" disabled>
<link rel="stylesheet" href="public/css/style-switcher.min.css">
<script src="https://hammerjs.github.io/dist/hammer.js"></script>