<section class="andras section s-link" id="andras">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>Andras</h2>
            </div>
        </div>
        <div class="row">
            <div class="andras-text padd-15">
                <h3> A little about me and my journey</h3>
                <p>Thank you for visiting my webpage! I'd love to share a bit about my coding journey and
                    myself.
                    <br />

                    I've always had an interest in IT and electronics, but it was about five years ago that
                    I developed a deep passion for coding. Since then, I've made it a daily habit to study
                    and practice, despite the sacrifices, like cutting back on gaming and skipping some gym
                    classes. Balancing a full-time job with limited free time hasn't been easy, but I've
                    never looked back. There's something incredibly rewarding about researching, solving
                    problems, and creating solutions that keeps me motivated.
                    <br />

                    Outside of coding, I like to stay active with Thai boxing, longboarding, and
                    photography. I also love keeping up with IT and hardware developments—it's amazing how
                    far we've come since the Commodore 64! I'm fascinated by astronomy (especially the James
                    Webb telescope), physics, psychology (with a focus on deviant behaviors), and even
                    chemistry on occasion. Music has been a lifelong passion of mine; I've been collecting
                    records since childhood and learned to play the drums as a teenager. At one point, I
                    even considered becoming a professional drummer. I'm still passionate about discovering
                    new music and attending concerts whenever I can.
                    <br />
                    As you can see, my interests are quite broad, which might be tied to my INFJ personality
                    type. Thanks for taking the time to learn a bit about me, and I wish you all the best!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="andras-item padd-15">
                <div class="andras-item-inner">
                </div>
            </div>
        </div>
    </div>
</section>