<section class="home section active s-link" id="home">
    <div class="container">
        <div class="row">
            <div class="home-info padd-15">
                <h3 class="hello">Hello, my name is <span class="name">Andras Egyed</span> </h3>
                <h3 class="my-profession">I'm a <span class="typing"></span></h3>
                <p>I am a self-taught web developer with a versatile portfolio, showcasing projects from beginner to
                    advanced levels. I am
                    continuously learning and refining my skills, driven by curiosity and a passion for growth. I enjoy
                    tackling challenges
                    and expanding my expertise in web and app development, exploring new technologies and creative
                    solutions along the way.
                    <br />
                    Explore this site to learn more about my projects, experience, and the skills I bring to the table.
                </p>
            </div>


            <div class="home-img padd-15">
                <img id="me-img1" src="images/me.webp" alt="profile-pic">
                <img class=hidden id="me-img2" src="images/me2.webp" alt="profile-pic">
            </div>
        </div>
        <div class="row">
            <div class="home-info padd-15">
                <a href="#contact" class="btn contact-me a-link">Contact</a>
            </div>
        </div>
    </div>
</section>