<section class="contact section s-link" id="contact">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>Contact</h2>
            </div>
        </div>
        <h3 class="contact-title padd-15">Do you have any questions?</h3>
        <h4 class="contact-sub-title padd-15">Please feel free to contact me!</h4>
        <div class="row">
            <!------===== contact info item start =====------->
            <div class="contact-info-item padd-15">
                <a href="tel:07784834222">
                    <div class="contact-info-item-inner">
                        <div class="icon"><i class="fa fa-phone"></i></div>
                        <h4>Phone:</h4>
                        <p>+447784834222</p>
                    </div>
                </a>
            </div>
            <!------===== contact info item end =====------->

            <!------===== contact info item start =====------->
            <div class="contact-info-item padd-15">
                <a href="mailto:egyeand@gmail.com">
                    <div class="contact-info-item-inner">
                        <div class="icon"><i class="fa fa-envelope"></i></div>
                        <h4>Email</h4>
                        <p>egyeand@gmail.com</p>
                    </div>
                </a>
            </div>
            <!------===== contact info item end =====------->

            <!------===== contact info item start =====------->
            <div class="contact-info-item padd-15">
                <a href="https://www.linkedin.com/in/egyeand/" target="_blank" rel="noopener noreferrer">
                    <div class="contact-info-item-inner">
                        <div class="icon"><i class="fa fa-brands fa-linkedin-in"></i></div>
                        <h4>LinkedIn</h4>
                        <p>in/egyeand</p>
                    </div>
                </a>
            </div>
            <!------===== contact info item end =====------->

            <!------===== contact info item start =====------->
            <div class="contact-info-item padd-15">
                <a href="https://github.com/andrase" target="_blank">

                    <div class="contact-info-item-inner">
                        <div class="icon"><i class="fa fa-brands fa-github"></i></div>
                        <h4>Github</h4>
                        <p>github.com/andrase</p>
                    </div>
                </a>
            </div>
            <!------===== contact info item end =====------->
        </div>
        <h3 class="contact-title padd-15">Send me an email!</h3>
        <h4 class="contact-sub-title padd-15">I will get back to you as soon as possible.</h4>
        <!------===== contact form start =====------->
        <div class="row">
            <div class="contact-form padd-15">
                <form target="_blank" action="https://submit-form.com/L8EV3LR1o">
                    <div class="row">
                        <div class="form-item col-6 padd-15">
                            <div class="form-group">
                                <input type="text" id="name" class="form-control" name="name" placeholder="Name"
                                    required="" />
                            </div>
                        </div>
                        <div class="form-item col-6 padd-15">
                            <div class="form-group">
                                <input type="email" id="email" class="form-control" name="email" placeholder="Email"
                                    required="" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-item col-12 padd-15">
                            <div class="form-group">
                                <input type="text" name="_subject" class="form-control" placeholder="Subject">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-item col-12 padd-15">
                            <div class="form-group">
                                <textarea id="message" class="form-control" name="message" placeholder="Message"
                                    required="" rows="10"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-item col-12 padd-15">
                            <button type="submit" class="btn form-submit-btn">Submit Form</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!------===== contact form end =====------->
    </div>
</section>