<!------===== header start =====------->

<!------===== header end=====------->

<body>
    <!------===== cv modal pop-up start =====------->

    <!------===== modal pop-up end =====------->

    <!------===== main container start =====------->
    <div class="main-container" id="gesture-element">

        <!------===== aside start =====------->

        <!------===== aside end =====------->

        <!------===== main content start =====------->
        <div class="main-content">

            <!------===== blank section start =====------->
            <section class="blank section back-section">
                <!-- only exist to prevent the on-load slide in animation to show
                the last section with content in background  -->
            </section>
            <!------===== blank section end =====------->

            <!------===== home section start =====------->

            <!------===== home section end =====------->

            <!------===== about section start =====------->

            <!------===== about section end =====------->

            <!------===== expertise section start =====------->

            <!------===== expertises section end =====------->

            <!------===== project section start =====------->

            <!------===== project section end =====------->

            <!------===== contact section start =====------->

            <!------===== contact section end =====------->

            <!------===== project example 1 section start =====------->

            <!------===== project example 1 section end =====------->

            <!------===== project example 2 section start =====------->

            <!------===== project example 2 section end =====------->

            <!------===== project example 3 section start =====------->

            <!------===== project example 3 section end =====------->

            <!------===== project example 4 section start =====------->

            <!------===== project example 4 section end =====------->

            <!------===== project example 5 section start =====------->

            <!------===== project example 5 section end =====------->

            <!------===== project example 6 section start =====------->

            <!------===== project example 6 section end =====------->

            <!------===== project example 7 section start =====------->

            <!------===== project example 7 section end =====------->

            <!------===== project example 8 section start =====------->

            <!------===== project example 8 section end =====------->

            <!------===== project example 9 section start =====------->

            <!------===== project example 9 section end =====------->

            <!------===== project example 10 section start =====------->

            <!------===== project example 10 section end =====------->

            <!------===== andras section start =====------->

            <!------===== andras section end =====------->

            <!------===== portfolio-about readmore section start =====------->

            <!------===== portfolio-about section end =====------->

            <section class="blank section">
                <!-- only exist to prevent the on-load slide in animation to show
                the last section with content in background  -->
            </section>
        </div>
        <!------===== main content end =====------->
    </div>
    <!------===== main container end =====------->

    <!------===== style switcher start =====------->

    <!------===== style switcher end =====------->

    <!------===== js files =====------->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"
        referrerpolicy="no-referrer"></script>
    <script src="js/script.js"></script>
    <!-- <script src="js/style-switcher.js"></script> -->
</body>

</html>