<section class="portfolio-example section s-link iframed" id="crud">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>Crud</h2>
            </div>
        </div>
        <div class="row">
            <div class="portfolio-example-text padd-15">
                <h3>Crud, Auth and Fire </h3>
                <p>This project demonstrates a simple CRUD (Create, Read, Update, Delete) React application
                    with a backend powered by Firebase. I chose Firebase for its ease of integration and
                    robust features, allowing me to focus on the core functionality while leveraging its
                    capabilities.
                    <br />
                    After carefully planning the project's requirements, I implemented the CRUD
                    functionality using React components and Firebase's Realtime Database. I then integrated
                    Firebase authentication (Google, Facebook, OTP) to secure the application and added
                    protected routes to restrict access to unauthorized users. The app is designed with
                    React Bootstrap to ensure a responsive and user-friendly interface.
                    <br />
                    For a more in-depth breakdown of the project's evolution, features, and practical examples, please
                    go to the app and click on the logo. You'll find both an 'About' and an 'More About' section.
                </p>


                <h3 class="key-features">Key Features:</h3>
                <ul>
                    <li><strong>Authentication</strong> - Implements user authentication using Firebase,
                        allowing users to
                        sign in via Google, Facebook, or by phone using one-time password texts.</li>
                    <li><strong>Protected Routes</strong> - Restricts access to certain routes based on user
                        authentication,
                        preventing unauthorized access to sensitive data.
                    </li>
                    <li><strong>Context Provider</strong> - Utilizes a context provider to manage user
                        authentication state,
                        ensuring consistent access across the application.</li>
                </ul>
            </div>
        </div>
        <!------===== project example item start =====------->
        <div class="row">
            <div class="portfolio-example-item padd-15">
                <div class="portfolio-example-item-inner shadow-dark">
                    <div id="crud-iframe" class="portfolio-example-item-inner shadow-dark">
                        <!------===== port-example-iframe-2 will be injected here via js =====------->
                    </div>
                </div>
            </div>
        </div>
        <!------===== project example item end =====------->
        <div class="row">
            <div class="button-container padd-15">
                <a class="btn" href="https://crud-auth.netlify.app/" target="_blank">CRUD</a>
            </div>
        </div>
    </div>
</section>