<section class="portfolio-example section s-link" id="frost">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>Frost-tattoo</h2>
            </div>
        </div>
        <div class="row">
            <div class="portfolio-example-text padd-15">
                <h3>PWA - React App</h3>
                <p>This was my first professional project, commissioned by a tattoo studio. I invested a lot
                    of time to ensure it was both visually appealing and highly functional. I was fortunate
                    to have a client who gave me creative freedom, allowing me to design and build the
                    project from the ground up while learning new skills along the way.
                    <br />
                    The app is styled with styled-components, animated using React-Scroll, Framer-Motion,
                    React-Swipable and Lottie-React. Automatically detects the user's browser language
                    and preferred theme, loading with those settings by default.
                    Users can adjust these preferences, which are saved for future visits. It`s a PWA-ready
                    (<a href="https://developer.mozilla.org/en-US/docs/Web/Progressive_web_apps"
                        target="_blank">Progressive Web App</a>)
                    , installable on both mobile and desktop for
                    Chromium-based browsers. I also developed a custom PWA installation flow that adapts to
                    the user's browser and operating system, providing installation instructions even if the
                    browser doesn`t natively support this feature, such as adding the app to the home screen
                    or dock. <br />
                    The project features a splash screen, hero video, testimonial slider, gallery slider,
                    and a gallery album. Users can easily send emails to the studio via a form with guided
                    prompts. The site is fully responsive and has received high scores on Lighthouse for
                    accessibility, best practices, and SEO.
                </p>

                <h3 class="key-features">Key Features:</h3>
                <ul>
                    <li><strong>Rich Animations</strong> - Uses smooth, declarative animations and swipe
                        gestures for interactive browsing.
                    <li><strong>Internationalization</strong> - Supports multiple languages with automatic
                        browser language detection.
                    <li><strong>Responsive Design</strong> - Fully responsive and optimized for different
                        screen sizes.
                    <li><strong>PWA-Ready & Custom PWA Installation Flow</strong> - Installable on both
                        mobile and desktop for Chromium-based browsers. Adapts to the user's browser and OS,
                        providing alternative installation instructions for not natively supported browsers.
                    <li><strong>Dynamic Sliders</strong> - Includes testimonial and gallery sliders for a
                        seamless user experience.
                    <li><strong>Interactive Gallery Album</strong> - Includes testimonial and gallery
                        sliders for a seamless user experience.
                    <li><strong>Splash Screen & Hero Video</strong> - Engages users with a polished entry
                        experience.
                    <li><strong>High Lighthouse Scores</strong> - Excellent ratings for accessibility, best
                        practices, and SEO.
                </ul>


                <div class="row">
                    <div class="button-container padd-15">
                        <a class="btn" href="https://frost-tattoo.netlify.app/" target="_blank">Frost</a>
                    </div>
                </div>
            </div>
</section>