<section class="portfolio-example section s-link iframed" id="next">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>Next project?</h2>
            </div>
        </div>
        <div class="row">
            <div class="portfolio-example-text padd-15">
                <h3>Freecodecamp, Codewars</h3>

                <p>
                    Over the past five years, I`ve dedicated a significant amount of time to studying and applying what
                    I`ve learned to
                    improve my skills. Given my current time constraints, I`ve decided to focus on sharpening my
                    knowledge through
                    challenges on
                    <a href="https://www.codewars.com/" target="_blank" rel="noopener noreferrer">Codewars</a>
                    while continuing to learn on
                    <a href="https://www.freecodecamp.org/" target="_blank" rel="noopener noreferrer">freeCodeCamp</a>.
                    Although I have plenty of project ideas—like learning more about React Native and creating indie
                    games with
                    Unity—for now, I`ll concentrate on skill refinement and consistent learning. Once I have more time,
                    I`ll dive into
                    new projects and share them here.
                </p>

                <p style="padding-bottom: 15px; margin-bottom: 30px;" class="example-code">T-B-A</p>
                <p>In the meantime, please feel free to try one of my first apps I made in the beginning of
                    my coding journey.
                </p>
                <div class="row">
                    <!------===== project example item start =====------->
                    <div class="portfolio-example-item padd-15">
                        <div id="next-iframe" class="portfolio-example-item-inner shadow-dark">
                            <!------===== port-example-iframe will be injected here via js =====------->
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>