<section class="portfolio-example section s-link" id="next">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>Next project ideas</h2>
            </div>
        </div>
        <div class="row">
            <div class="portfolio-example-text padd-15">
                <h3>TypeScript, PWA Npm-packadge</h3>
                <p>I have plenty of ideas for what I`d like to tackle next, but with limited time alongside
                    work, I`m focusing on just 2-3 key areas. One of my priorities is completing a
                    TypeScript course on Udemy (<a
                        href="https://www.udemy.com/course/complete-typescript-2-course/?couponCode=ACCAGE0923"
                        target="_blank" rel="noopener noreferrer">Typescript Bootcamp: Beginner To
                        Advanced</a>). While I already
                    understand the basics, I realize how crucial
                    it is to deepen my knowledge, especially if I aim to build more complex and scalable
                    projects in the future..</p>
                <p>While working on my latest project, a Progressive Web App (PWA), I searched for npm
                    packages that could meet my needs, but none quite fit. In the project, I coded a custom
                    install button that either triggers the installation pop-up or, if the app is opened in
                    a browser that doesn`t support this feature, prompts the user with alternative
                    installation options. I`ve accounted for various scenarios depending on the user`s
                    browser and operating system. For browsers that don`t natively support PWAs, it suggests
                    extensions or other methods, such as adding the app to the home screen. I`d like to make
                    this available to the community, as it would significantly reduce the effort for those
                    looking for a seamless installation option across multiple browsers.</p>
                <p style="padding-bottom: 15px; margin-bottom: 30px;" class="example-code">T-B-A</p>
                <p>In the meantime, please feel free to try one of my first apps I made in the beginning of
                    my coding journey.
                </p>
                <div class="row">
                    <div class="portfolio-example-item padd-15">
                        <div class="portfolio-example-item-inner drum shadow-dark">
                            <div id="drum-iframe" class="portfolio-example-item-inner drum shadow-dark">
                                <iframe src="https://andrase.github.io/drum/" title="drumv iframe"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>