<section class="portfolio-example section s-link iframed" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>Portfolio</h2>
            </div>
        </div>
        <div class="row">
            <div class="portfolio-example-text padd-15">
                <h3>Dynamic Webpage with Vanilla JavaScript and CSS </h3>
                <p>This webpage showcases my proficiency in crafting dynamic web experiences using only
                    vanilla JavaScript and CSS. While inspired by a YouTube <a href=https://youtu.be/zJE-ze4TfXc
                        target="_blank" rel="noopener noreferrer">tutorial</a>. I've extensively customized and enhanced
                    the original design to align with my personal vision.
                    <br />
                    I began by meticulously analyzing the tutorial's code, gaining a deep understanding of
                    its structural and design principles. From there, I tailored the project to my specific
                    requirements, incorporating new elements and features such us "swipe and tap"
                    functionalities with lazy loading.
                    <br />
                    For a more in-depth breakdown of the project's evolution and features, please refer to
                    the
                    "Read More" section below.
                </p>

                <h3 class="key-features"> Key Features: </h3>
                <ul>
                    <li><strong>Lazy Loading</strong> - Optimizes page performance by deferring the loading
                        of non-essential
                        elements until they are needed. </li>
                    <li><strong>Embeds</strong> - The website includes embeds to display external content
                        including Youtube,
                        Codesandbox and Github pages.</li>
                    <li><strong>Swipe Functionality</strong> - Using <a href=https://hammerjs.github.io/ target="_blank"
                            rel="noopener noreferrer">hammer.js</a> can recognize gestures
                        made by touch,
                        mouse and pointerEvents.</li>
                    <li><strong>Custom Animations</strong> - Smooth transitions and effects enhance the
                        overall user
                        experience.</li>
                    <li><strong>Enhanced Functionality</strong> - Additional features and interactions have
                        been added to
                        provide a more engaging experience. </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <!------===== project example item start =====------->
            <div class="portfolio-example-item padd-15">
                <div id="portfolio-iframe" class="portfolio-example-item-inner shadow-dark">
                    <!------===== port-example-iframe-1 will be injected here via js =====------->
                </div>
            </div>
        </div>
        <!------===== project example item end =====------->
        <div class="row">
            <div class="button-container padd-15">
                <a class="btn portfolio-about-link a-link nope" href="#portfolio-about">Read more</a>
            </div>
        </div>
    </div>
</section>