<section class="portfolio-example section s-link" id="react-redux-calculator">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>React-Redux-Calculator</h2>
            </div>
        </div>
        <div class="row">
            <div class="portfolio-example-text padd-15">
                <h3>React & Redux Toolkit Calculator </h3>
                <p>
                    Building upon my knowledge of Redux and Redux Toolkit (RTK), I embarked on the creation
                    of a feature-rich calculator application. This project leverages a combination of
                    React's useState hook and Redux-RTK for robust state management.
                    <br />
                    To elevate the user experience, I meticulously replicated the logic of the Windows
                    calculator, encompassing functionalities such as calculation history and dynamic ongoing
                    calculations. Moreover, the application boasts a range of customization options,
                    including theme and sound settings.
                    <br />
                    For a distinctive touch, I designed a unique theme and visual style for the calculator.
                    Additionally, I incorporated sound effects to enhance user interaction and integrated an
                    API to display motivating action hero images featuring the legendary Chuck Norris,
                    adding a touch of humor to the experience.
                    <br />
                    If you're interested in learning more about this project, check out the 'Apps about' and
                    'moreabout' sections.
                </p>

                <h3 class="key-features">Key Features:</h3>
                <ul>
                    <li><strong>Windows Calculator Logic</strong> - Replicates the core Windows calculator
                        functionality, including real-time calculations and history.
                    </li>
                    <li><strong>Persistent Settings</strong> - Saves and restores theme and sound
                        preferences using local storage.</li>
                    <li><strong>Custom Themes</strong> - Allows users to switch between light and dark
                        themes
                        for a personalized look.</li>
                    <li><strong>Customizable Sound Effects</strong> - Adds button sound effects via
                        use-sound, with an option to turn them off.
                    </li>
                    <li><strong>Dynamic Font Resizing</strong> - Automatically adjusts font size for long
                        calculations using react-textfit.
                    </li>
                    <li><strong>API integration</strong> - Fetches random images from <a
                            href="https://api.chucknorris.io/" rel="noopener noreferrer"
                            target="_blank">chucknorris.io</a> for added fun.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <!------===== project example item start =====------->
            <div class="portfolio-example-item padd-15">
                <div class="portfolio-example-item-images-container">
                    <img src="images/calc-example1.webp" alt="calc-example1">
                    <img src="images/calc-example2.webp" alt="calc-example2">
                    <img src="images/calc-example3.webp" alt="calc-example3">
                </div>
            </div>
        </div>
        <!------===== project example item end =====------->
        <div class="row">
            <div class="button-container padd-15">
                <a class="btn" href="https://react-rtk-calculator.netlify.app/" target="_blank">Calculator</a>
            </div>
        </div>
    </div>
</section>