<section class="portfolio-example section s-link iframed" id="secrets">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>Secrets</h2>
            </div>
        </div>
        <div class="row">
            <div class="portfolio-example-text padd-15">
                <h3> MongoDB, Node, Express with EJS</h3>
                <p>During my final stages of self-study on Udemy, I was intrigued to push a particular
                    project further—one that involved MongoDB, Node, Express, and EJS. Originally, it was a
                    simple CRUD application using MongoDB for the back-end and EJS for the front-end.
                    However, I made significant enhancements, adding user authentication with session
                    cookies to ensure users could interact only with their own content while still being
                    able to view other users' posts. Once authenticated, users remain logged in unless the
                    cookie expires or the browser is closed.
                    <br />
                    To elevate the project further, I incorporated animations, themes, SVGs, and a dynamic
                    navigation bar with swipe functionality using <a href=https://hammerjs.github.io/ target="_blank"
                        rel="noopener noreferrer">hammer.js</a>. These additions brought the
                    app to life and improved user engagement. After sharing the project link in a study
                    group, I was excited to see many 'secrets' being posted, which highlighted the
                    interactive nature of the app.
                    <br />
                    Overall, I am proud of the outcome—not only for the technical achievements but also for
                    how it resonated with users. You can read a detailed report and learn more about the
                    challenges I faced in the 'About' or 'Read More' sections of the app.
                    <br />
                    Deployed on
                    Heroku's eco-dyno, please note that it may take a few seconds for the server to wake up.
                    To see the shared secrets, simply click the button below the video.
                </p>

                <h3 class="key-features">Key Features:</h3>
                <ul>
                    <li><strong>Authentication</strong> - User authentication with session cookies, allowing
                        personalized
                        content management. Includes Signup, Login, Signout, and the option to delete the
                        account.</li>
                    <li><strong>Content Management</strong> - CRUD operations with MongoDB, enabling users
                        to share and view
                        posts securely.</li>
                    <li><strong>Dynamic UI & Navigation</strong> - Enhanced user interface with animations,
                        themes, and SVGs,
                        plus swipe functionality via <a href=https://hammerjs.github.io/ target="_blank"
                            rel="noopener noreferrer">hammer.js</a>.</li>
                    <li><strong>User Engagement</strong> - Seamless navigation with a dynamic navbar and
                        responsive design to
                        improve user interaction.
                    </li>
                </ul>
            </div>
        </div>
        <!------===== project example item start =====------->
        <div class="row">
            <div class="portfolio-example-item padd-15">
                <div class="portfolio-example-item-inner shadow-dark">
                    <div id="secrets-iframe" class="portfolio-example-item-inner shadow-dark">
                        <!------===== port-example-iframe-3 will be injected here via js =====------->
                    </div>
                </div>
            </div>
        </div>
        <!------===== project example item end =====------->
        <div class="row">
            <div class="button-container padd-15">
                <a class="btn" href="https://app-secret.herokuapp.com/" target="_blank">Secrets</a>
            </div>
        </div>
    </div>
</section>