<section class="portfolio-example section s-link iframed" id="todo">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>To-do list</h2>
            </div>
        </div>
        <div class="row">
            <div class="portfolio-example-text padd-15">
                <h3>A challenge with React</h3>
                <p id="phide" class="opacity100">
                    This project started as a coding challenge during my studies. The task was to create a
                    simple React app, focusing on the correct use of <a
                        href="https://reactjs.org/docs/components-and-props.html" target="_blank"
                        rel="noopener noreferrer">props</a> and the <a
                        href="https://www.w3schools.com/react/react_es6_spread.asp" target="_blank"
                        rel="noopener noreferrer">spread operator</a>. I love working with React because it
                    provides instant updates without needing a page refresh or redirect. After completing
                    the challenge, I wanted to take it further by adding a back-end. This project actually
                    inspired me to build a CRUD app later on. While the app hasn't been deployed, I'm still
                    able to share it with you through an embedded preview. Please click the button to check
                    it out.
                </p>

            </div>
        </div>
        <!------===== project example item start =====------->
        <div class="row">
            <div id="iframehide" class="portfolio-example-item padd-15 opacity0" style="flex: none; padding-top: 20px;">
                <div class="portfolio-example-item-inner shadow-dark" style="height: 600px; width: 400px;">
                    <div id="todo-iframe" class="portfolio-example-item-inner shadow-dark"
                        style="height: 600px; width: 400px">
                        <!------===== port-example-iframe-3 will be injected here via js =====------->
                    </div>
                </div>
            </div>
        </div>
        <!------===== project example item end =====------->
        <div class="row">
            <div class="button-container padd-15">
                <a id="codesandbox" class="btn" target="_blank">To-do</a>
            </div>
        </div>
    </div>
</section>