<section class="portfolio-example section s-link iframed" id="usapp">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>Us-App</h2>
            </div>
        </div>
        <div class="row">
            <div class="portfolio-example-text padd-15">
                <h3>React Native chat app</h3>
                <p>I have developed a fully functional Android chat application using React Native CLI. This
                    project showcases my proficiency in React Native development, having invested
                    significant time in learning and practicing the framework.
                    <br />
                    The application offers a seamless user experience, beginning with a splash screen that
                    provides a brief introduction. Upon launch, the app determines whether the user has
                    previously logged in. If so, it automatically restores their session. For new users or
                    those logging in for the first time, the app directs them to the login screen.
                    <br />
                    User preferences, such as theme and text size, are preserved across sessions. During the
                    initial login, the app collects essential user information (name, email, profile
                    picture) to create a new database entry where chat-history and friends will be stored.
                    <br />
                    The application integrates with OneSignal to enable push notifications, ensuring users
                    stay updated with real-time messages and events.
                    <br />
                    For a more comprehensive overview of the project, please visit the <a
                        href="https://github.com/AndrasE/usapp/blob/main/src/screens/AboutMore.js" target="_blank"
                        rel="noopener noreferrer">
                        Github</a> repository or
                    explore the app's 'About' section, which can be accessed even without installation.
                    <br />
                    To download and experience the application, please click button below and
                    install the file (you will need to enable 3rd-party installation). Feel free to message
                    me if you would like to chat, search for user 'egyeand' in the app.
                </p>

                <h3 class="key-features">
                    Key Features:
                </h3>
                <ul>
                    <li><strong>User-Friendly Onboarding</strong> - Includes a splash
                        screen and automatic session
                        restoration for returning users or redirects new users to the login screen.</li>
                    <li><strong>User Preferences</strong> - Saves and restores theme and text-size
                        preferences across
                        sessions.</li>
                    <li><strong>Real-Time Chat</strong> - Stores chat history and friends in a real-time
                        database.</li>
                    <li><strong>Push Notifications</strong> - Integrated with OneSignal for real-time
                        message and event
                        notifications.</li>
                    <li><strong>Social Authentication</strong> - Supports Google sign-in via Firebase for
                        quick user login.
                    </li>
                    <li><strong>Pop-Up Modals</strong> - Uses react-native-modal for intuitive pop-up
                        windows.</li>
                    <li><strong>Seamless Animations</strong> - Features Lottie animations and React Native
                        Reanimated for
                        smooth transitions.</li>
                    <li><strong>Custom Theming</strong> - Allows users to select themes and text settings
                        with a tri-state
                        switch button.</li>
                    <li>
                        <strong>Linear Gradient Design</strong> - Implements gradient backgrounds and
                        buttons
                        for enhanced
                        UI.
                    </li>
                    <li><strong>Gifted Chat UI</strong> - Fully functional chat interface powered by
                        react-native-gifted-chat.</li>
                </ul>
            </div>
        </div>
        <!------===== project example item start =====------->
        <div class="row">
            <div class="portfolio-example-item padd-15">
                <div class="portfolio-example-item-inner shadow-dark">
                    <div id="usapp-iframe" class="portfolio-example-item-inner shadow-dark">
                        <!------===== port-example-iframe-2 will be injected here via js =====------->
                    </div>
                </div>
            </div>
        </div>
        <!------===== project example item end =====------->
        <div class="row">
            <div class="button-container padd-15">
                <a class="btn" href="https://github.com/AndrasE/usapp/blob/main/usapp-debug.apk"
                    target="_blank">Us-apk</a>
            </div>
        </div>
    </div>
</section>