<section class="portfolio-example section s-link" id="weatherapi">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>WeatherApi</h2>
            </div>
        </div>
        <div class="row">
            <div class="portfolio-example-text padd-15">
                <h3>Openweather Api calls with Bodyparser, Express and Ejs</h3>
                <p>As part of my studies on <a href="https://www.udemy.com/course/the-complete-web-development-bootcamp"
                        target="_blank" rel="noopener noreferrer">Udemy</a>, I developed an app that makes
                    <a href="https://en.wikipedia.org/wiki/Representational_state_transfer" target="_blank"
                        rel="noopener noreferrer">API</a> calls to <a href="https://openweathermap.org/" target="_blank"
                        rel="noopener noreferrer">Openweather</a> using BodyParser, Express,
                    and EJS. <br />
                    The project originally handled API responses with res.write(), but I enhanced it by
                    adding Bootstrap 5 for styling and EJS for better handling of potential user input
                    errors like typos. I styled the app with a sleek, transparent design over a pretty
                    background, making it a great standalone project. In the future, I plan to rebuild it
                    with React and React Native, including a 5-day forecast feature for added functionality
                    at the click of a button.
                </p>

                <h3 class="key-features">Key Features:</h3>
                <ul>
                    <li><strong>API Integration</strong> - Fetches weather data from OpenWeather using
                        BodyParser and
                        Express.
                    </li>
                    <li><strong>Dynamic UI</strong> - Displays results dynamically with EJS, allowing for
                        personalized
                        content.
                    </li>
                    <li><strong>Error Handling </strong> - Manages input errors (e.g., typos) for smoother
                        user experience.
                    </li>
                    <li><strong>Aesthetic Styling</strong> - Features a transparent, visually appealing
                        background. </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="button-container padd-15">
                <a class="btn" href="https://weatherapicall-f7a0d6ebd9f7.herokuapp.com" target="_blank">WeatherApi</a>
            </div>
        </div>
</section>